@model WiredArticle
@{
    Layout = null;
}


<div class="d-flex justify-content-center">
<h1>@Model.Title</h1>
</div>

<div class="col-12 align-self-lg-center" style="border-width: 2px!important;" id="getke">
<p>@Model.Description</p>
</div>



